*{
    background-color: bisque;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: thistle;



.button {
    --color: #e5f5f1;
    height: 20px;
    width: 100px;
    padding: 0.8em 1.5em;
    margin: 0 auto;
    text-decoration: none;
    object-position: center;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   .button a {
    text-decoration: none;
    background-color: transparent;
   }
   
   .button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .button::before {
    top: -1em;
    left: -1em;
   }
   
   .button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .button:hover {
    color: rgb(10, 25, 30);
   }
   
   .button:active {
    filter: brightness(.8);
   }
   
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.card{
    background-color: #7a7676;
    width: 250px;
    border-radius: 0.5rem;
    padding: 3rem;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
    
}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;

}

.card-title{
    font-weight: 600;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: #fff;
    background-color: #7a7676;

}
.card-info{
    font-size: 0.85rem;
    opacity: 0.8;
    text-align: center;
    color: rgb(224, 162, 87);
    background-color: #7a7676;
}

.card-link{
    font-size: 0.85rem;
    opacity: 0.8;
    background-color: #7a7676;
}

footer{
    color: rgb(9, 114, 133);
    height: 20px;
    width: 100vw;
    padding: 0.8em 1.5em;
    margin: 0 auto;
    text-align:center ;
    text-decoration: none;
    object-position: center;
    background-color: black;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    font-family: inherit;
    z-index: 1;
}
